.blog-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.blog-card{
    background-color: rgb(219, 229, 230);
    border-radius: 5px;
    border: cornflowerblue;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
.review-btn{
background-color: rgb(231, 78, 116);
color: white;
padding: 5px;
border-radius: 5px;
}
.review-title{
    color: rgb(47, 102, 219);
}
.review-title-text{
    font-weight: 550;
    font-family:sans-serif
}