.comment-section{
    background-color: rgba(128, 128, 128, 0.274);
}
.comment-form{
   border-radius: 10px;
}
.comment-input{
    height: 50px;
    width: 350px;
}
.comment-submit-btn{
    height: 50px;
    width: 80px;
    padding: 5px;
    color: white;
    font-weight: 500;
    background-color:rgb(231, 78, 116);
    border-radius: 5px;
  
}